.cardmain {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 0 0 1px var(--ifm-color-primary-light);
    background-color: var(--ifm-background-color);
    margin: 20px;
    border-radius: 10px;
}

.noborder {
    box-shadow: 0 0 0 1px var(--ifm-background-color) !important;
    cursor: default !important;
}

.cardmain {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
}

.cardmain > h3 {
    margin-bottom: 20px;
}

.cardmain > * {
    flex: 1;
    margin: 0 1rem;
}

.cardmain:hover {
    transform: translate(-10px, -10px);
    cursor: pointer;
    text-decoration: none !important;
}

.cardmain > *:hover {
    text-decoration: none !important;
}



.flex {
  flex-grow: 1;
}

.project {
  display: flex;
  border-radius: 6px;
  border: 1px solid var(--ifm-color-emphasis-300);
  padding: var(--ifm-global-spacing);
  margin: 12px 0;
  align-items: center;
}

.project p {
  padding-right: 0.8em;
  color: var(--ifm-color-emphasis-800);
  margin: 0;
}

.projectGitHub {
  color: var(--ifm-link-color);
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsContainer {
  width: 85%;
  max-width: 650px;
  padding-bottom: 8em;
  padding-top: 0;
}
