.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper > div, .wrapper > button {
    width: 600px;
    max-width: 95vw;
}

.wrapper > button {
    margin-top: 30px;
    border-radius: 4px !important;
}