.color_reverse {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 0 0 1px var(--ifm-color-primary-light) !important;
    background-color: var(--ifm-background-color);
    display: block;
}

[data-theme='dark'] .color_reverse > * {
    color: var(--ifm-color-primary-light) !important;
}

.color_reverse:hover {
    transform: translate(-10px, -10px);
    cursor: pointer;
    text-decoration: none !important;
}

.color_reverse > *:hover {
    text-decoration: none !important;
}

.homepage_row {
    display: flex;
    justify-content: space-around;
}

.homepage_row > * {
    flex: 1;
    margin: 0 1rem;
}

@media screen and (max-width: 712px) {
    .homepage_row {
        flex-direction: column;
    }

    .homepage_row > * {
        margin-top: 30px;
    }
}

.card_container {
    margin-top: 50px;

    margin-bottom: 100px;
}