/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
:root {
  font-family: Pretendard-Regular, sans-serif;
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;



  --ifm-color-primary-raw: 37, 194, 160;
  --ifm-color-primary-dark-raw: 33, 175, 144;
  --ifm-color-primary-darker-raw: 31, 165, 136;
  --ifm-color-primary-darkest-raw: 26, 136, 112;
  --ifm-color-primary-light-raw: 70, 203, 174;
  --ifm-color-primary-lighter-raw: 102, 212, 189;
  --ifm-color-primary-lightest-raw: 146, 224, 208;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

#go_button {
  background-color: #25c2a0;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

html[data-theme='dark'] span.class-name {
	color: rgb(184, 184, 184);
}

span.class-name {
	color: rgb(101, 101, 101);

}

span.generic {
	color: green;
}

html[data-theme='dark'] span.parameter {
	color: rgb(55, 209, 209);
}

span.parameter {
	color: red;
}

.language-kodef:hover  *:not(:first-child) {
  text-decoration: underline;
  cursor: pointer;
}